@import "heading.scss";
@import "colors.scss";
@import "sidebar.scss";

body,
html {
  background-color: $color_black;
  font-family: "Courier New", Courier, monospace;
  color: $color_white;
}

p {
  text-align: justify;
}

ul {
  list-style-type: symbols(cyclic "▶" ">");
}

a {
  text-decoration: none;
  color: $color_yellow;
}

h1,
h2,
h3 {
  color: white !important;

  @media screen and (orientation: portrait) {
      padding-top: 0.5em;
  }
}

code {
  font-family: monospace;
  color: white;
  background-color: $color_dark_grey;
  color: white;
  padding: 0.1em 0.3em 0.1em 0.3em;
}

.wrapper {
  max-width: 650px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;

  @media screen and (orientation: portrait){
  max-width: 100vw;
      margin: 0;
      position: relative;
      padding: 20px 10px 20px 10px;
  }
}

