.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20vw;
  max-width: 200px;
  padding-left: 2em;

  @media screen and (orientation: portait) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 20px;
  }
}

.sidebar {
  ul {
    li {
      @media screen and (orientation: portait) {
        display: block;
        font-size: large;
      }
    }
  }
}
